* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.heading {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #6a0dad;
  height: 5rem;
  line-height: 5rem;
  background: linear-gradient(to right, #8a2be2, #da70d6);
  color: white;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.choice {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice:hover {
  cursor: pointer;
  /* opacity: 0.5; */
  background-color: #6a0dad;
}
img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;
  top: 60px;
}

.score-board {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  top: 100px;
  left: 0px;
}

.message-container {
  width: 270px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 870px;
  top: 500px;
  font-size: 30px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: green;
  color: white;
}
.message-container:hover {
  opacity: 0.8;
  cursor: pointer;
}

.score-board {
  font-size: 2rem;
}
